asgiref==3.4.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
Django==1.11.10
django-bootstrap3==15.0.0
django-braces==1.14.0
django-debug-toolbar==3.2.2
docopt==0.6.2
idna==3.2
importlib-metadata==2.1.1
misaka==2.1.1
pipreqs==0.4.10
pycparser==2.20
Pygments==2.10.0
pytz
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.7
whitenoise==5.1.0
wincertstore==0.2
yarg==0.1.9
zipp==3.5.0
