{% extends 'portApp/base.html' %}
{% block body_block %}
<h4 class="about-me"><br><br><br>My name is <strong>Mahesh Dedge</strong> and I am super-psyched that you are reading this.... <br><br>
  I've completed <strong>Bachelors of Engineeing in Mechanical</strong> and alumni of MES Pillai's College of Engineering and Technology <strong>(Mumbai university)</strong>.<br><br>
  However core sectors scope getting limited day by day as Automation and Digital technologies changing business models,<br> to tackle this situations
  I've also started upgrading my knowledge by learning computer coding language <strong>Python, R and Database PostgeSQL, mySQL. </strong><br><br>
  as I developed an interest in this technologies, I started digging deep for the knowledge and learned <strong>Data Science and Data Visualisation using Tableau</strong>.<br><br>
  I am absolutely and utterly passionate about <strong>Data Science</strong>, Web development(Django FrameWork) and looking forward to sharing my passion while working for you!</h4><br><br>

  <div class="resume">
      <a href="{% url 'portApp:download' %}"><button type="submit" class="btn btn-success" name="button"><strong>Download Resume</strong></button></a>
  </div>

{% endblock %}

<!-- My name is Mahesh Dedge and I am super-psyched that you are reading this,
I've completed a Bachelors of Engineering in Mechanical alumni of MES Pillai's College of Engineering and Technology (Mumbai university), however, as core sectors scope getting limited as Automation and Digitization is upcoming Future, I start learning coding language Python and R,
And as I've developed an interest in the sector, I started digging deep for the knowledge and learned Data Science and Data Visualisation using Tableau,
I am absolutely and utterly passionate about Data Science, Web development and I am looking forward to sharing my passion while working for you! -->
