{% extends 'portApp/base.html' %}
{% block body_block %}
<div class="certificate">
  <h1 class="certificate-heading"><strong>Certificates</strong></h1>
    <table>
      <button type="button" name="button"><label for=""> <h3>Python</h3></label></button><hr>
      <button type="button" name="button"><label for=""> <h3>Data Science</h3></label></button><hr>
      <button type="button" name="button"><label for=""> <h3>R Programming</h3></label></button><hr>
      <button type="button" name="button"><label for=""> <h3>R Advance Programming Language</h3></label></button><hr>
      <button type="button" name="button"><label for=""> <h3>Tableau visualisation</h3></label></button><hr>
    </table>
</div>


{% endblock %}
