{% extends 'portApp/base.html' %}
{% block body_block %}
  <div class="contact">
    <div class="row">
      <div class="column">
        <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email : <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">mahesh.dedge@gmail.com</a> <br><br>
        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Contact no : 7021064587 <br><br>
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location : Thane, Maharashtra-400605.</h4>

      </div>
      <div class="column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120562.19154939901!2d72.93141914004872!3d19.21404075269097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8fcfe76fd59%3A0xcf367d85f7c50283!2sThane%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1633525392399!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

      </div>
    </div>

    <!-- <h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email : <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">mahesh.dedge@gmail.com</a> <br><br>
    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Contact no : 7021064587 <br><br>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location : Thane, Maharashtra-400605.</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120562.19154939901!2d72.93141914004872!3d19.21404075269097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8fcfe76fd59%3A0xcf367d85f7c50283!2sThane%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1633525392399!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
  </div>
{% endblock %}
